<div class="container">
  <h4>Book Form</h4>

  <form novalidate>
    <!-- title -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="input" name="title" [(ngModel)]="book.title" minlength="5" maxlength="30" #title="ngModel" required>
        </div><!-- /.form-group -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <!-- author -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Author</label>
          <input class="form-control" type="input" name="author" [(ngModel)]="book.author" #author="ngModel" required>
        </div><!-- /.form-group -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <!-- url -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>URL</label>
          <input class="form-control" type="input" name="url" [(ngModel)]="book.url" #url="ngModel" pattern="https?://.+">
        </div><!-- /.form-group -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <!-- form submit button -->
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
  </form>

  <hr>

  <div>
    <h5>Book Model</h5>
    <!-- book model object in JSON format -->
    {{ currentBook }}
  </div><!-- /book model -->
</div><!-- /.container -->