<div class="container">
  <h4>Book Form</h4>

  <form #bookForm="ngForm" novalidate>
    <!-- title -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="input" name="title" [(ngModel)]="book.title" minlength="5" maxlength="30" #title="ngModel" required>

          <!-- check if show alert messages -->
          <div class="alert alert-danger" role="alert" *ngIf="title.errors && (title.dirty || title.touched)">
            <!-- required alert -->
            <div [hidden]="!title.errors.required">
              Book Title is required!
            </div>

            <!-- minlength alert -->
            <div [hidden]="!title.errors.minlength">
              Book Title must be at least 5 characters long.
            </div>

            <!-- maxlength alert -->
            <div [hidden]="!title.errors.maxlength">
              Book Title cannot be more than 30 characters long.
            </div>
          </div><!-- /.alert alert-danger -->
        </div><!-- /.form-group -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <!-- author -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Author</label>
          <input class="form-control" type="input" name="author" [(ngModel)]="book.author" #author="ngModel" required>

          <!-- check if show alert messages -->
          <div class="alert alert-danger" role="alert" *ngIf="author.errors && (author.dirty || author.touched)">
            <!-- required alert -->
            <div [hidden]="!author.errors.required">
              Book Author is required!
            </div>
          </div><!-- /.alert alert-danger -->
        </div><!-- /.form-group -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <!-- url -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>URL</label>
          <input class="form-control" type="input" name="url" [(ngModel)]="book.url" #url="ngModel" required pattern="https?://.+">

          <!-- check if show alert messages -->
          <div class="alert alert-danger" role="alert" *ngIf="url.errors && (url.dirty || url.touched)">

            <!-- required alert -->
            <div [hidden]="!url.errors.required">
              Book URL is required!
            </div>

            <!-- pattern alert -->
            <div [hidden]="!url.errors.pattern">
              Book URL must be a valid URL. Book URL must start with either http:// or https://
            </div>

          </div><!-- /.alert alert-danger -->
        </div><!-- /.form-group -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <!-- form submit button -->
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!bookForm.form.valid">Submit</button>
  </form>

  <hr>

  <div>
    <h5>Book Model</h5>
    <!-- book model object in JSON format -->
    {{ currentBook }}
  </div><!-- /book model -->
</div><!-- /.container -->